In [1]:
#variable 
age=32
print(age)

32

In [2]:
age=age+1
print (age)

33

In [4]:
name='John'
lastname='Smith'
fullname= name + ' ' + lastname
print(fullname)

John Smith

In [5]:
#whileloops
cnt=0
accumulators= 0
print(cnt)
if cnt == 0:
    print("cnt is zero")
    cnt += 1 
    
print('end')

0
cnt is zero
end

In [6]:
print(cnt)

1

In [7]:
cnt=0
accumulators= 0
print(cnt)
while cnt < 10:
    print(cnt)
    cnt += 1    #increases count by 1
print('end')

0
0
1
2
3
4
5
6
7
8
9
end

In [8]:
#creating a list; list are ordered
A= [1, 3, 2, 5, 4]

In [9]:
print(A)

[1, 3, 2, 5, 4]

In [10]:
#for loop with a list
i=0
while i < len(A):
    print(A[i])
    i += 1

1
3
2
5
4

In [11]:
for x in A : #print all the elements in the list A
    print(x)

1
3
2
5
4

In [22]:
B= ["1- One", "3- Three", 2, "5- Five", "4- Four"]

In [15]:
for x in B: 
    print(x)

1- One
3- Three
2
5-Five
4-Four

In [16]:
print(B[0])

1- One

In [24]:
B[2]="2- Two"

In [25]:
for x in B: 
    print(x)

1- One
3- Three
2- Two
5- Five
4- Four

In [26]:
sorted(B) #ordered visualization, but will not keep the order

['1- One', '2- Two', '3- Three', '4- Four', '5- Five']

In [27]:
print(B)

['1- One', '3- Three', '2- Two', '5- Five', '4- Four']

In [28]:
B.sort() #orders and keeps the sorted listed 
print(B)

['1- One', '2- Two', '3- Three', '4- Four', '5- Five']

In [29]:
C = B

In [31]:
print(C)

['1- One', '2- Two', '3- Three', '4- Four', '5- Five']

In [33]:
#in operator
S= "Hello, this is your Google assistant."
L= ["One", "Two", "Three", "4", "5"]
D= {'Name': 'John', 'Profession': 'Teacher', 'College': 'CoB', 'Retired': 'No', 2020: 'IS6713'}

In [35]:
for x in L: #case sensitive--with 'o', not found, but 'O' is found!
    if x == "one":
        print("Found")

In [36]:
"One" in L

True

In [37]:
"one" in L

False

In [38]:
"Google" in S

True

In [39]:
"Name" in D

True

In [40]:
'John' in D

False

In [41]:
2020 in D

True

In [42]:
'2020' in D

False

In [1]:
#Dictionaries: key, value
D= dict() #empty dictionary

In [2]:
D['KeyName']

KeyError: 'KeyName'

In [3]:
'KeyName' in D

False

In [4]:
if 'KeyName' not in D: 
    D['KeyName'] = 1

In [5]:
print(D)

{'KeyName': 1}

In [6]:
D['KeyName']=4

In [7]:
print(D)

{'KeyName': 4}

In [8]:
#Dictionary is useful for natural language processing 
S = 'IS6713 Data Foundations'
D = dict() #erases all elements from a dictionary
for c in S : 
    if c not in D: #counts the number of repetitions in the string 
        D[c] =1
    else: 
        D[c] +=1
print(D)

{'I': 1, 'S': 1, '6': 1, '7': 1, '1': 1, '3': 1, ' ': 2, 'D': 1, 'a': 3, 't': 2, 'F': 1, 'o': 2, 'u': 1, 'n': 2, 'd': 1, 'i': 1, 's': 1}

In [9]:
for e in D: 
    print("Dictionary D - Key: {0} with value {1}".format(e, D[e])) #{} is a placeholder

Dictionary D - Key: I with value 1
Dictionary D - Key: S with value 1
Dictionary D - Key: 6 with value 1
Dictionary D - Key: 7 with value 1
Dictionary D - Key: 1 with value 1
Dictionary D - Key: 3 with value 1
Dictionary D - Key:   with value 2
Dictionary D - Key: D with value 1
Dictionary D - Key: a with value 3
Dictionary D - Key: t with value 2
Dictionary D - Key: F with value 1
Dictionary D - Key: o with value 2
Dictionary D - Key: u with value 1
Dictionary D - Key: n with value 2
Dictionary D - Key: d with value 1
Dictionary D - Key: i with value 1
Dictionary D - Key: s with value 1

In [10]:
#Stopping a while loop
#use stop button or kernel interupt
#break is stop doing the loop
cnt=0
while True: 
    print(cnt)
    cnt +=1
    if cnt > 5: #safety option--will stop the loop
        break #also stops the loop 
print('end')

0
1
2
3
4
5
end

In [11]:
number1= input("Input the numerator:")
number2=input("Input the denominator:")
r=int(number1)/int(number2)
print(r)

Input the numerator:6
Input the denominator:0

ZeroDivisionError: division by zero

In [13]:
number1= input("Input the numerator:")
number2=input("Input the denominator:")
try: 
    r=int(number1)/int(number2)
except: 
    r = 0 
    print("Warning: bad input.")

print(r)

Input the numerator:6
Input the denominator:0
Warning: bad input.
0